.masthead {
    height: 100px;
    min-height: 500px;
    background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar-toggler {
    float: right;
}



#navbarResponsive {
    float: right;
    margin-top: 50px;
}
