<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Frontend</title>



    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet">


</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">Smartpoll</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Über uns</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#exampleModalLong" href="#">Anmelden</a>
                </li>
            </ul>
        </div>
    </div>
</nav>



<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h1 class="font-weight-light">Willkomen bei Smartpoll</h1>
                <p class="lead">Der zuverlässige Umfrage Partner</p>

                <div class="text-center">
                    <button type="button" class="btn btn-outline-danger btn-lg" data-toggle="modal" data-target="#RegisterModal">Registrieren</button>
                </div>
            </div>
        </div>
    </div>
</header>



<!-- Modal Login-->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label  >Email address</label>
                        <input type="email" class="form-control" id="InputEmail1" th:text="${login.getEmail()}" placeholder="E-Mail">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label >Passwort</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" th:text="${login.getPassword()}" placeholder="Password">
                    </div>

                    <button type="submit" class="btn btn-danger">Login</button>
                </form>
            </div>

        </div>
    </div>
</div>



<!-- Modal Register-->
<div class="modal fade" id="RegisterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Registrieren</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="InputName">Name</label>
                        <input type="Name" class="form-control" id="InputName" th:text="${register.getName()}"placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label for="InputVorname">Vorname</label>
                        <input type="Vorname" class="form-control" id="InputVorname" th:text="${register.getSurname()}" placeholder="Vorname">
                    </div>
                    <div class="form-group">
                        <label>E-Mail Adresse</label>
                        <input type="email" class="form-control" id="InputEmail1" th:text="${register.getEmail()}" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label>Passwort</label>
                        <input type="password" class="form-control" id="InputPassword1" th:text="${register.getPassword()}" placeholder="Passwort">
                    </div>

                    <button type="submit" class="btn btn-danger" href="/register">Registrieren</button>
                </form>
            </div>

        </div>
    </div>
</div>

<div class="container-fluid">

    <div class="alert alert-success d-none" role="alert">
         Erfolgreich registriet
    </div>
    <div class="alert alert-success d-none" role="alert">
        Login erfolgreich
    </div>
    <div class="alert alert-danger d-none" role="alert">
        Falsches Passwort oder E-Mail Adresse
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<script src="js/scripts.js"></script>
</body>
</html>